.axis path, .axis line
  fill: none
  stroke: #000
  shape-rendering: crispEdges

.text, .axis
  font-size: 10px

.x.axis path
  display: none

.dashboard-chart
  text-align: center
  border: 1px solid #333
  border-radius: 5px
  margin: 20px 0

.line
  fill: none
  stroke: steelblue
  stroke-width: 1.5px
