html, body
  min-height: 100%
  height: 100%

.ember-view
  height: 100%

.full-height
  height: 100%

.navbar
  margin-bottom: 0
  border-radius: 0
  
.inline
  display: inline

table
  th:last-child, tr > td:last-child
    text-align: right

.identicon-small
  width: 25px
  height: 25px

.identicon-medium
  width: 64px
  height: 64px

.identicon-round
  border-radius: 50%

.dashboard-card
  text-align: center
  background: #333
  color: #ccc
  border: 3px solid white

  h4
    border-bottom: 1px solid #ccc


.content-header
  padding: 30px 20px 20px 10px
  border-bottom: 1px solid #eee
  margin-bottom: 25px

.filter-area
  padding: 20px 0

#profile-menu

#user-display
  label
    width: 150px
    text-align: right 
    color: #666
    padding-right: 20px

#platform-alert
  margin: 0
  border-radius: 0
  padding-top: 25px
  padding-bottom: 25px

.affix, .affix-top
  position: static
  top: 60px

.profile-data
  margin-left: 20px
