$side-nav-bg-color: #333
$side-nav-link-color: #ccc

#side-nav
  margin: 0
  margin-left: -15px
  padding: 0
  height: 100%

  background: $side-nav-bg-color

  a
    color: $side-nav-link-color
    background: none
    outline: 0;
  
    &:hover
      color: lighten($side-nav-link-color, 30%)

  a.active
    border-right: 4px solid $side-nav-link-color

  li 
    .fa
      margin-right: 10px

    ul > li
      margin-left: 30px

.toggle
  cursor: pointer

.affix, .affix-top
  position: static

@media (min-width: 979px)

  #side-nav.affix-top
    position: static
    //width: 436px
    width: 290px

  #side-nav.affix
    position: fixed
    top: 0px
    //width: 436px
    width: 290px
