.row.content-header
   .col-md-12
      h3.inline
         span.text-muted platform alert

.row
   .col-md-8.col-md-offset-1

      form.form-horizontal

         = form-group label="message"
            = textarea value=message rows="6" class="form-control"

         .form-group
            span.col-sm-9.col-sm-offset-3.confirm-buttons
               button.btn.btn-success click="broadcast"
                  = fa-icon "bullhorn"
                  | broadcast
