.row.content-header
   .col-md-5
      h3.inline
        | bulk user upload

        button.btn.btn-default click="uploadFile"
          = fa-icon "file"
          | select file

form role="form" id="creative-upload-form" enctype="multipart/form-data"
   = view "upload-file" ctrl=controller name="file" id="upload-input" class="hidden"

.row
   .col-md-10.col-md-offset-1

      if users
         .form-group
            label.control-label separator
            = input type="text" value=separator class="form-control"

         table.table
           thead
             tr
               th first
               th last
               th email
               th account
               th 

           tbody
             each user in users
               tr
                 td
                   = input type="text" value=user.first class="form-control"

                 td
                   = input type="text" value=user.last class="form-control"

                 td
                   = input type="text" value=user.email class="form-control"

                 td
                   = view "select" class="form-control" content=accounts optionLabelPath="content.name" selection=user.account.content

                 td
                   button.btn.btn-default click="removeUser" user
                     = fa-icon "remove"

         .form-group
            button.btn.btn-default click="cancel" cancel
            button.btn.btn-success click="save"
               = fa-icon "save"
               | save (
               = userCount
               | ) users
